---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";

import Icon from "astro-icon";
---

<MainLayout
  title="Playground - Monaco & Firebase | Operational Transformation"
  description="Live Example of @otjs/firebase-monaco Package"
>
  <section class="space-y-6 pb-12 pt-16 lg:py-28">
    <div
      class="container flex max-w-[64rem] flex-col items-center gap-5 text-center"
    >
      <h1
        class="font-heading text-2xl font-bold md:text-3xl !leading-[1.1] text-balance"
      >
        Monaco & Firebase Example
      </h1>

      <p
        class="max-w-[42rem] leading-normal text-muted-foreground sm:text-lg sm:leading-8 text-balance"
      >
        Checkout <span class="text-gradient_indigo-purple"
          >@otjs/firebase-monaco</span
        > in action. Just copy the URL in your browser window and share with others.
      </p>

      <div class="flex items-center justify-center space-x-2 md:space-x-4 mx-4">
        <a href="/play/" class={cn(buttonVariants({ size: "lg" }))}>
          See Other Examples
        </a>
        <a
          href={siteConfig.links.github}
          target="_blank"
          rel="noreferrer"
          class={cn(buttonVariants({ variant: "outline", size: "lg" }))}
        >
          <Icon name="github" class="mr-2 size-5" />
          Star on Github
        </a>
      </div>
    </div>
  </section>

  <section
    class="container mx-auto space-y-6 max-w-[58rem] md:max-w-[86rem] h-[240px] md:h-[480px]"
  >
    <div id="editor" class="h-full w-full border bg-background"></div>
  </section>

  <!-- Instantiate Editor -->
  <script>
    import { playgroundConfig } from "@/config/playground";
    import {
      getDatabaseRef,
      getUserInfo,
      signInUser,
    } from "@/lib/playground/firebase-helpers";
    import { getEditor } from "@/lib/playground/monaco-helpers";

    import { FireMonacoEditor } from "@otjs/firebase-monaco";
    import { initializeApp } from "firebase/app";

    const onDocumentReady = async () => {
      const user = await signInUser();
      const { userColor, userId, userName } = await getUserInfo(user);

      const editor = getEditor();
      const databaseRef = getDatabaseRef();

      const collab = new FireMonacoEditor({
        announcementDuration: Infinity,
        databaseRef,
        editor,
        userId,
        userColor,
        userName,
      });

      collab.on("ready", () => {
        editor.updateOptions({ readOnly: false });
      });

      collab.on("error", (error) => {
        console.error("Collaboration Error", error);
      });
    };

    initializeApp(playgroundConfig.firebase.options);
    setTimeout(onDocumentReady, 0);
  </script>
</MainLayout>
