---
import { ThemeToggle } from "@/components/theme-toggle";
import SocialMedia from "./social-media.astro";
---

<nav class="flex flex-row items-center gap-4">
  <SocialMedia className="hidden md:flex" />
  <ThemeToggle client:idle />
</nav>
