---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import Icon from "astro-icon";
---

<MainLayout title="Home | Operational Transformation">
  <section class="space-y-6 pb-12 pt-16 lg:py-28">
    <div
      class="container flex max-w-[64rem] flex-col items-center gap-5 text-center"
    >
      <h1
        class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance"
      >
        Collaboration made easy with
        <span class="text-gradient_indigo-purple">@otjs</span>
      </h1>

      <p
        class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance"
      >
        Build Blazingly Fast Collaborative Workspaces for Fast Paced Teams in your Organization.
      </p>

      <div class="flex justify-center space-x-2 md:space-x-4">
        <a
          href="/docs/getting-started/"
          class={cn(buttonVariants({ size: "lg" }))}
        >
          Get Started
        </a>
        <a
          href={siteConfig.links.github}
          target="_blank"
          rel="noreferrer"
          class={cn(buttonVariants({ variant: "outline", size: "lg" }), "px-4")}
        >
          <Icon name="github" class="mr-2 size-5" />
           Star on Github
        </a>
      </div>
    </div>
  </section>

  <section
    id="features"
    class="container space-y-6 bg-slate-50 py-8 dark:bg-transparent md:py-12 lg:py-24"
  >
    <div
      class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center"
    >
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Features
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
      >
        <span class="text-gradient_indigo-purple">@otjs</span> packages aims to simplify workflows requiring collaboration, starting from ideation, communication and finally execution.
        Share your ideas and plans with your team seamlessly with Live Collaboration.
      </p>
    </div>
    <div
      class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3"
    >
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <Icon name="codicon:multiple-windows" class="size-12" />
          <div class="space-y-2">
            <h3 class="font-bold">Easy to Get Started</h3>
            <p class="text-sm text-muted-foreground">
              @otjs comes with batteries included packages with just a few configs.
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <Icon name="ant-design:thunderbolt-twotone" class="size-12" />
          <div class="space-y-2">
            <h3 class="font-bold">Supercharged Algorithms</h3>
            <p class="text-sm text-muted-foreground">
              Only limit to your collaboration capability is the hardware limitations.
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <Icon name="mdi:wrench-outline" class="size-12" />
          <div class="space-y-2">
            <h3 class="font-bold">Extensible</h3>
            <p class="text-sm text-muted-foreground">
              Easy to write custom <b>Adapters</b> for your favourite Editor or Whiteboard.
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <Icon name="simple-icons:typescript" class="size-12" />
          <div class="space-y-2">
            <h3 class="font-bold">Built-in Type Support</h3>
            <p class="text-sm text-muted-foreground mt-3">
              Each package comes with it&apos;s own <b>Type Declaration</b> file.
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <Icon name="ph:test-tube-duotone" class="size-12" />
          <div class="space-y-2">
            <h3 class="font-bold">Well Tested Solution</h3>
            <p class="text-sm text-muted-foreground">
              The packages are santized and tested with <b>95&percnt;</b> code coverage.
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <Icon name="ic:outline-contact-support" class="size-12" />
          <div class="space-y-2">
            <h3 class="font-bold">Still not Convinced?</h3>
            <p class="text-sm text-muted-foreground">
              Book appointment with <a
              href="https://calendly.com/theprodev"
              target="_blank"
              rel="noreferrer"
              class="underline underline-offset-4"
            >
              0xTheProDev
            </a> for a free consultation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="open-source" class="container py-8 md:py-12 lg:py-28">
    <div
      class="mx-auto flex max-w-[58rem] flex-col items-center justify-center gap-4 text-center"
    >
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Proudly Open Source
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
      >
        Operational Transformation is open source and powered by open source
        software and tools. <br />{" "}
         The code is available on{" "}
        <a
          href={siteConfig.links.github}
          target="_blank"
          rel="noreferrer"
          class="underline underline-offset-4"
        >
          GitHub
        </a>
         .
      </p>
    </div>
  </section>
</MainLayout>
