---
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import { MainNavigationMenu } from "@/components/main-navigation-menu";
import { ThemeToggle } from "@/components/theme-toggle";
import { SheetMobileNav } from "@/components/layout/sheet-mobile-nav";
import { docsConfig } from "@/config/docs";
import { siteConfig } from "@/config/site";
import BaseLayout from "./base-layout.astro";

import Icon from "astro-icon";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Header className="border-b">
    <MainNavigationMenu slot="left-header" client:load />
    <SheetMobileNav
      sidebarNavItems={[
        ...docsConfig.sidebarNav,
      ]}
      slot="mobile-nav-header"
      client:load
    />

    <nav slot="right-header" class="flex flex-row items-center gap-4">
      <a
        href={siteConfig.links.github}
        target="_blank"
        rel="noreferrer"
        class="hidden md:inline"
      >
        <span class="sr-only">GitHub</span>
        <Icon name="mdi:github" class="size-6" />
      </a>
      <a
        href={siteConfig.links.twitter}
        target="_blank"
        rel="noreferrer"
        class="hidden md:inline"
      >
        <span class="sr-only">Twitter</span>
        <Icon name="mdi:twitter" class="size-6" />
      </a>
      <ThemeToggle client:idle />
    </nav>
  </Header>

  <slot />

  <Footer className="border-t" />
</BaseLayout>
