---
import HeroAnimation from "@/components/hero-animation.astro";
import Header from "@/components/layout/header.astro";
import Footer from "@/components/layout/footer.astro";
import RightNav from "@/components/layout/right-nav.astro";
import { MainNavigationMenu } from "@/components/main-navigation-menu";
import { cn } from "@/lib/utils";
import BaseLayout from "./base-layout.astro";
import { SheetMobileNav } from "@/components/layout/sheet-mobile-nav";
import { navMenuConfig } from "@/config/nav-menu";

type Props = {
  title: string;
  description?: string;
  heroAnimation?: boolean;
  mainClass?: string;
};

const { title, heroAnimation, description, mainClass } = Astro.props;
---

<BaseLayout title={title} description={description}>
  {heroAnimation && <HeroAnimation />}
  <Header>
    <MainNavigationMenu slot="left-header" client:load />
    <SheetMobileNav
      mainNavItems={[...navMenuConfig.links]}
      sidebarNavItems={[
        ...navMenuConfig.infosNav,
        ...navMenuConfig.resourcesNav,
      ]}
      slot="mobile-nav-header"
      client:load
    />

    <RightNav slot="right-header" />
  </Header>

  <main class={cn(mainClass)}>
    <slot />
  </main>

  <Footer />
</BaseLayout>
